<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset="UTF-8">
	<title>Test</title>
</head>

<body>
	<h1>Students Information</h1>
	<p>Age:&nbsp;{{if agefrom}}{{agefrom}}&nbsp;-&nbsp;{{ageto}}{{else}}ALL{{/if}}</p>
	<form>
		<label for="agefrom">Age From: </label>
		<input type="text" name="agefrom" id="agefrom" >
		<label for="ageto">Age To: </label>
		<input type="text" name="ageto" id="ageto">
		<input type="submit" value="Submit">
 	</form>
	<p>{{if warning-message}}{{warning-message}}{{/if}}</p>
	<br>
	<table>
	<tr><td>ID</td><td>Name</td><td>Age</td><td>Sex</td></tr>
	{{each stu-arr row}}
	<tr><td><a href='/scorebystudent/{{row.id}}'>{{row.id}}</a></td><td>{{row.name}}</td><td>{{row.age}}</td><td>{{row.sex}}</td></tr>
	{{/each}}
	</table>
	<br>
	<a href="/">Back To Main Page</a>
</body>

</html>